absl-py==0.15.0
aiohttp==3.8.1
aiosignal==1.2.0
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
cached-property==1.5.2
cachetools==5.0.0
Cartopy==0.20.2
certifi==2021.10.8
cftime==1.6.0
charset-normalizer==2.0.11
clang==5.0
click==8.0.4
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.0.0
cycler==0.11.0
dask==2022.2.0
deprecation==2.1.0
einops==0.4.0
filelock==3.6.0
Fiona==1.8.21
Flask==2.0.1
flatbuffers==1.12
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
gast==0.4.0
GDAL @ file:///home/luo-j/rainymotion_test/rainymotion/GDAL-3.4.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl
geopandas==0.10.2
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
h5netcdf==0.15.0
h5py==3.1.0
huggingface-hub==0.4.0
idna==3.3
imageio==2.16.1
importlib-metadata==4.11.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
locket==0.2.1
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
multidict==6.0.2
munch==2.5.0
netCDF4==1.5.8
networkx==2.6.3
numpy==1.21.0
oauthlib==3.2.0
opencv-contrib-python==3.4.4.19
opencv-python==3.4.4.19
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
partd==1.2.0
Pillow==9.0.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.1
pygrib==2.1.4
pyparsing==3.0.7
pyproj==3.2.1
pyshp==2.2.0
python-dateutil==2.8.2
pytorch-lightning==1.5.10
pytorch-msssim==0.2.1
pytz==2021.3
PyWavelets==1.3.0
PyYAML==6.0
rainymotion==0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.7.3
Shapely==1.8.1.post1
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tifffile==2021.11.2
toolz==0.11.2
torch==1.10.2
torchaudio==0.10.2
torchinfo==1.6.5
torchmetrics==0.7.2
torchsummary==1.5.1
torchvision==0.11.3
tqdm==4.62.3
typing-extensions==3.7.4.3
urllib3==1.26.8
waitress==2.1.2
Werkzeug==2.0.3
wradlib==1.14.0
wrapt==1.12.1
xarray==0.20.2
xmltodict==0.12.0
yarl==1.7.2
zipp==3.7.0
